<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">ToDo App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row mt-4">
    <div class="col-sm-4">
      <div class="list-group">
        <a href="#" class="list-group-item d-flex justify-content-between align-items-center active">
          Project 1
          <span class="badge badge-light badge-pill">14</span>
        </a>
        <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
          Project 2
          <span class="badge badge-primary badge-pill">2</span>
        </a>
        <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
          Project 3
          <span class="badge badge-primary badge-pill">3</span>
        </a>
      </div>
    </div>
    <div class="col-sm-8">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-12 col-md-8 d-flex align-items-center mb-3 mb-md-0">
              <input type="checkbox" class="mr-3">
              <span>todo item 1</span>
            </div>
            <div class="col-9 col-md-3 d-flex align-items-center">
              <input readonly type="text" class="form-control" ngbDatepicker #d="ngbDatepicker" (focus)="d.open()" />
            </div>
            <div class="col-3 col-md-1 d-flex justify-content-around align-items-center todo-icons">
              <a class="text-primary"><span class="oi oi-pencil"></span></a>
              <a class="text-danger"><span class="oi oi-x"></span></a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          todo item 2
        </li>
        <li class="list-group-item">
          todo item 3
        </li>
        <li class="list-group-item">
          todo item 4
        </li>
        <li class="list-group-item">
          todo item 5
        </li>
      </ul>
    </div>
  </div>
</div>
